table {
    width: 100%;
    border: 1px solid black;
    margin: 20px;
  }

 thead tr a {
    text-decoration: none;
    color: black;
    text-align: center;
}


.clickable {
    cursor: pointer;
    background: #a5cde6;

}